##
# .config/i3/config
#
# Main i3-wm configuration.
#
# Will Badart <wbadart@live.com>
# created: JAN 2018
##

set $mod Mod1
font pango:NotoSans 10

exec --no-startup-id xrdb -merge ~/.Xresources
exec --no-startup-id wal -i ~/pic/wallpapers/wallhaven-290969_1920x1080.png
exec --no-startup-id unclutter --fork

set $gap_inner 15
set $gap_outer 10
gaps inner $gap_inner
gaps outer $gap_outer

bindsym $mod+z gaps inner current set 0; gaps outer current set 0
bindsym $mod+Shift+z gaps inner current set $gap_inner; gaps outer current set $gap_outer

bindsym $mod+i gaps inner current plus 1
bindsym $mod+o gaps outer current plus 1
bindsym $mod+Shift+i gaps inner current minus 1
bindsym $mod+Shift+o gaps outer current minus 1

# disable title bar
new_window 1pixel
focus_follows_mouse no
# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

bindsym $mod+m exec amixer -c 1 set Master mute
bindsym $mod+u exec "amixer -c 1 set Master unmute && amixer -c 1 set Headphone unmute && amixer -c 1 set Speaker unmute"

bindsym $mod+Up exec xbacklight -inc 5%
bindsym $mod+Down exec xbacklight -dec 5%
bindsym $mod+Left exec amixer -c 1 set Master 2%-
bindsym $mod+Right exec amixer -c 1 set Master 2%+

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal

# lock the screen
# bindsym Mod4+l exec i3lock -c 000000
bindsym Mod4+l exec blurlock || i3lock -c 000000

# kill focused window
bindsym $mod+Shift+q kill

##
# Use `wal` colors
##

# Set colors from Xresources
# Change 'color7' and 'color2' to whatever colors you want i3 to use
# from the generated scheme.
# NOTE: The '#f0f0f0' in the lines below is the color i3 will use if
# it fails to get colors from Xresources.
set_from_resource $fg i3wm.color7 #f0f0f0
set_from_resource $bg i3wm.color2 #f0f0f0

# ## COLORS
# # class                 border  backgr. text    indicator child_border
# client.focused          #4c7899 #285577 #ffffff #2e9ef4   #416b35
client.focused_inactive #333333 #5f676a #ffffff #484e50   #5f676a
client.unfocused        #333333 #222222 #888888 #292d2e   #888888
# client.urgent           #2f343a #900000 #ffffff #900000   #900000
# client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c
# client.background       #000000

# class                 border  backgr. text indicator child_border
client.focused          $bg     $bg     $fg  $bg       $bg
#client.focused_inactive $bg     $bg     $fg  $bg       $bg
#client.unfocused        $bg     $bg     $fg  $bg       $bg
client.urgent           $bg     $bg     $fg  $bg       $bg
client.placeholder      $bg     $bg     $fg  $bg       $bg

client.background       $bg

# PROTIP: You can also dynamically set dmenu's colors this way:
# bindsym $mod+d exec dmenu_run -nb "#333333" -nf "$fg" -sb "$fg" -sf "$bg" -b
bindsym $mod+d exec "rofi -combi-modi window,drun,ssh -show combi -modi combi"

### END wal config ###


# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+semicolon focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+semicolon move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
#bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# switch to workspace
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'Logout?' -b 'Yes, exit i3' 'i3-msg exit'"
bindsym $mod+Shift+s exec "i3-nagbar -t warning -m 'Shutdown?' -b 'Yes, shutdown' 'poweroff'"

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym semicolon resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
    i3bar_command i3bar -t
    status_command i3status -c ~/.config/i3/status.config
    position top
    separator_symbol "  "
    colors {
        separator #888888
        statusline #888888
        focused_workspace #000000 #000000 #ffffff
        inactive_workspace #000000 #000000 #555555
    }
}
